@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Vazir.woff2") format("woff2"),
      url("../fonts/Vazir.woff") format("woff"),
      url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
  }
  
  body {
    font-family: "Vazir" !important;
    box-sizing: border-box;
  }
  .icon{
    background-color: #ebeafb;
    color: #0B5ED7;
    content: "\f585";
    display: inline-flex;
    padding: 10px;
    border-radius: 10px;
}
.card-primary{
  background-color: #1B2A4E;
  color: white !important;
}
.aslider{
background-color:#1B2A4E;
}

.footer-tag{
  text-decoration: none;
  color: black;
}
.footer-tag:hover{
  color: black;
}
.footer-headar{
  border-bottom: 2px solid;
  height: 35px;
}